

<%- include("partials/header")%>

<%start.forEach(function(post){%>

    <% if(post.Name==="About"){%>
         <h1><%=post.Name%></h1>
         <p><%=post.Content%>
   <%}%>
   
 <%});%> 

<%- include("partials/footer")%>